---
import Layout from '../../layouts/main.astro';
import Hashtag from '../../components/Hashtag.astro';
import moment from 'moment';

const content = {
    title: 'Favorites'
}


const posts = await Astro.glob('./*.md')

let wordCount = 0;


posts.forEach((post) => {
   wordCount += post.rawContent.toString().split(" ").length    
})

posts.sort((a, b) => {
    // Extract the date from frontmatter of each post
    const dateA = new Date(a.frontmatter.date);
    const dateB = new Date(b.frontmatter.date);

    // Compare dates
    if (dateA < dateB) {
        return 1; // dateA comes before dateB
    }
    if (dateA > dateB) {
        return -1; // dateA comes after dateB
    }
    return 0; // dates are equal
});

---

<Layout content={content} summary="List of blogs">
    <div class="flex flex-col gap-y-4 w-full">
        <h2 class="text-xl font-bold">Blog Posts</h2>
        <!-- <div class="flex flex-row flex-wrap gap-2">
            {
                unqiqueTags.map((tag) => (
                    <Hashtag tag={tag} />
                ))
            }
        </div> -->
        <span class="text-sm text-gray-500">
        {posts?.length} posts / {wordCount} words counting on
        </span>
        <div class="flex flex-col gap-2">
            {
                posts.map((post) => (
                    <a href={post.url} class="text-base">
                        <div class="flex flex-row items-center">
                            <span class="flex-1">{post.frontmatter?.title}</span>
                            <span class="text-sm text-gray-500">{moment(post.frontmatter?.date).format('Do MMMM, YYYY')}</span>
                        </div>
                    </a>
                ))
            }
        </div>

    </div>
</Layout>